###############
# object file #
###############
.*
!.travis
!.github

###############
# build       #
###############
build

###############
# output      #
###############
include/
lib/
bin/
dist
!patch/include
pyltp.egg-info

*.swp
doc/_build
doc/_static
doc/_templates
!doc/Makefile

###############
# data        #
###############
ltp_data

